<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>User {{$ctrl.item ? $ctrl.item.name : 'Creation' }}</h2>
        <span flex></span>
        <md-button aria-label="cancel" ng-click="$ctrl.cancel()" class="md-icon-button">
            <md-icon md-svg-icon="close"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content>
    <md-content layout="column" class="md-padding">


        <md-input-container>
            <label>Name</label>
            <input name="userName" ng-model="$ctrl.item.name" type="text" disabled/>
        </md-input-container>

        <md-input-container>
            <label>Email</label>
            <input name="email" ng-model="$ctrl.item.email" type="email" disabled/>
        </md-input-container>

    </md-content>
</md-dialog-content>

<md-dialog-actions layout="row">
    <span flex></span>
    <!--md-button ng-click="$ctrl.save()">
        Save
    </md-button-->
    <md-button ng-click="$ctrl.cancel()">
        Cancel
    </md-button>
</md-dialog-actions>
