<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Celebrity {{$ctrl.item ? $ctrl.item.name : 'Creation' }}</h2>
        <span flex></span>
        <md-button aria-label="cancel" ng-click="$ctrl.cancel()" class="md-icon-button">
            <md-icon md-svg-icon="close"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<form name="myform" ng-style="{'visibility' : ($ctrl.saving ? 'hidden' : 'visible')}">
    <md-content layout="column" class="md-padding">
        <md-tabs md-dynamic-height>
            <md-tab label="Images">
                <md-tab-body>
                    <div style="height: 330px; width: 800px;">
                        <md-content class="md-padding" layout="row">
                            <md-content layout="column" flex="50">
                                <p>Profile *</p>
                                <input type="file" ngf-select="" ng-model="$ctrl.picFile" name="picFile" ngf-accept="'image/*'">
                            </md-content>
                            <md-content layout="column" flex="20">
                                <img ng-if="$ctrl.picFile" ngf-src="$ctrl.picFile" style="height: 80px;width: auto;">
                                <img ng-if="!$ctrl.picFile && $ctrl.item.profile_pic" ngf-src="$ctrl.item.profile_pic" style="height: 80px;">
                            </md-content>
                        </md-content>
                        <md-content class="md-padding" layout="row">
                            <md-content layout="column" flex="50">
                                <p>Image 1 *</p>
                                <input type="file" ngf-select="" ng-model="$ctrl.backFile" name="backFile" ngf-accept="'image/*'">
                            </md-content>
                            <md-content layout="column" flex="20">
                                <img ng-if="$ctrl.backFile" ngf-src="$ctrl.backFile" style="height: 80px;width: auto;">
                                <img ng-if="!$ctrl.backFile && $ctrl.item.gallery.IMG1.image_url" ngf-src="$ctrl.item.gallery.IMG1.image_url" style="height: 80px;">
                            </md-content>
                        </md-content>
                        <md-content class="md-padding" layout="row">
                            <md-content layout="column" flex="50">
                                <p>Image 2 *</p>
                                <input type="file" ngf-select="" ng-model="$ctrl.backFile2" name="backFile2" ngf-accept="'image/*'">
                            </md-content>
                            <md-content layout="column" flex="20">
                                <img ng-if="$ctrl.backFile2" ngf-src="$ctrl.backFile2" style="height: 80px;width: auto;">
                                <img ng-if="!$ctrl.backFile2 && $ctrl.item.gallery.IMG2.image_url" ngf-src="$ctrl.item.gallery.IMG2.image_url" style="height: 80px;">
                            </md-content>
                        </md-content>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="Personal Information">
                <md-tab-body>
                    <div style="height: 330px; width: 800px;">
                        <md-content layout="row" layout-align="space-between center" style="overflow-x: hidden">
                            <md-input-container style="width: 45%">
                                <label>First Name</label>
                                <input aria-label="first_name" ng-model="$ctrl.item.first_name" required>
                            </md-input-container>
                            <md-input-container style="width: 45%">
                                <label>Last Name</label>
                                <input aria-label="last_name" ng-model="$ctrl.item.last_name" required>
                            </md-input-container>
                        </md-content>


                        <md-input-container style="width: 90%;">
                            <label>Email</label>
                            <input aria-label="email" ng-model="$ctrl.item.email" required>
                        </md-input-container>

                        <md-input-container style="width: 90%;">
                            <md-select aria-label="Type" ng-model="$ctrl.item.type" placeholder="Type" required>
                                <md-option value="celebrity">Celebrity</md-option>
                                <md-option value="futbol">Futbol</md-option>
                                <md-option value="musica">Musica</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container style="width: 90%">
                            <label>Bio</label>
                            <textarea ng-model="$ctrl.item.bio" rows="2"></textarea>
                        </md-input-container>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="{{key}}" ng-repeat="(key, product) in $ctrl.item.product_types">
                <md-tab-body>
                    <div style="height: 330px; width: 800px;">
                        <label style="font-size: 12px; color: rgba(0, 0, 0, 0.541176)">Products </label>
                        <br /><br />
                        <div >
                            <md-checkbox aria-label="active" ng-model="product.active">
                            </md-checkbox>

                            <!-- Product Type-->
                            <md-input-container style="width: 30%">
                                <label>Product Type</label>
                                <input aria-label="product_type" ng-model="product.product_type">
                            </md-input-container>

                            <md-input-container style="width: 50%">
                                <label>Description</label>
                                <input aria-label="descrip" ng-model="product.descrip">
                            </md-input-container>

                            <md-input-container style="width: 10%">
                                <label>Price</label>
                                <input aria-label="price" ng-model="product.price">
                            </md-input-container>

                            <!-- Product Subtype-->
                            <div ng-repeat="subtype in product.subtypes" ng-if="product.subtypes" style="margin-left: 5%; height: 50px;">
                                <md-checkbox aria-label="subtypes" ng-model="subtype.active">
                                </md-checkbox>
                                <md-input-container style="width: 15%">
                                    <label>Name</label>
                                    <input aria-label="name" ng-model="subtype.name">
                                </md-input-container>
                                <md-input-container style="width: 50%">
                                    <label>Description</label>
                                    <input aria-label="descrip" ng-model="subtype.descrip">
                                </md-input-container>
                                <md-input-container style="width: 10%">
                                    <label>Price</label>
                                    <input aria-label="price" ng-model="subtype.price">
                                </md-input-container>

                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-content>
</form>

<md-content layout="row">
    <md-content ng-show="$ctrl.saving" layout="column" flex="70">
        <md-progress-linear class="md-warn" md-mode="determinate" value="{{$ctrl.determinateValue}}"></md-progress-linear>
    </md-content>
    <span flex></span>
    <md-content layout="column" >
        <md-button class="md-raised md-active md-primary" ng-disabled="myform.$invalid || $ctrl.saving" ng-click="$ctrl.save()">
            Save
        </md-button>
    </md-content>
    <md-content layout="column">
        <md-button class="md-raised md-active md-warn" ng-click="$ctrl.cancel()">
            Cancel
        </md-button>
    </md-content>
</md-content>
